:root{
    --primary-color:#757575;
}
body{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: var(--primary-color);
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.list .link.current{
    color: #2196F3;
}
/* header */
.web{
    color: #2196F3;
    font-family: Raleway, sans-serif;
}
.studio-link{
    color: #000000;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.studio-link:active{
    color: #2196F3;
}
.nav{
    color: #212121;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav:active,
.nav:hover,
.nav:focus{
    color: #2196F3;
}
.nav:current(){
    color: #2196F3;
}
.nav-second{
    color: #757575;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-second:hover,
.nav-second:focus{
    color: #2196F3;
}
/* main */
/* section1 */
.section-one{
    background-color: #2F303A;
}
.title{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button{
    color: #FFFFFF;
    background-color: #2196F3;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.06em;
    border-style: none;
}
/* section2 */
.feature{
    color: #212121;
    font-size: 14px;
    line-height: 1.14;
    list-style: none;
}
.feature-text{
    line-height: 1.71;
}
/* section3 */
.duty{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
/* section4 */
.section-four{
    background: #F5F4FA
}
.team{
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center
}
.team-card{
    color: #212121;
    font-size: 16px;
    line-height: 1.18;
    text-align: center
}
.team-card-text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
/* footer */
.footer{
    background-color: #2F303A;
}
.web-footer{
    color: #2196F3
}
.studio-link-footer{
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
}
.studio-link:active{
    color: #2196F3
}
.town{
    color: #FFFFFF;
    font-style: normal;
    line-height: 1.71;
}
.town:hover,
.town:focus{
    color: #2196F3;
    
}
.nav-third{
    color: #FFFFFFa5;
    font-style: normal;
    line-height: 1.71;
}
.nav-third:hover,
.nav-third:focus{
    color: #2196F3;
}
/* section5 */
.button-list{
    color: #212121;
    background-color: #F5F4FA;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    border-style: none;
}
.project{
    color: #212121;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-text{
    font-size: 16px;
    line-height: 1.87;
}
.button-list:hover,
.button-list:focus{
    color: #FFFFFF;
    background-color: #2196F3;
}